<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
	<%- include nav.html%>
  <%- body %>
  <div style="display:none" class="alert alert-danger small" id="alert"></div>
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/scripts/home.js"></script>
</body>
</html>
