body {
    background: #f1f1f1;
}
.padding-top-60 {
    padding-top: 60px;
}
.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    padding: .75em 0;
    box-shadow: 0 0.0625em 0.3125em rgba(0,0,0,.15);
    background: #fff;
}

.top-bar .file,
.top-bar .color-disk,
.top-bar .operation {
    display: inline-block
}

.top-bar .color {
    width: 20px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.top-bar .color.blue {
    background: #4d80f4;
}
.top-bar .color.red {
    background: #ff4222;
}
.top-bar .color.black {
    background: black;
}
.top-bar .color.green {
    background: limegreen;
}

.top-bar .dropdown-menu {
    min-width: auto;
}
.top-bar .dropdown-menu>li>a {
    padding:3px 10px;
}
.alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0
}
.icon svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: currentColor;
}
.icon {
    cursor: pointer;
    background: #ccc;
    width: 72px;
    height: 72px;
    float: left;
    margin: .75em .75em 0 0;
    border-radius: 5px;
}

.icon:hover {
    box-shadow: inset 0 0 0 0.1875em #898989;
}

.icon.active {
    background: #fff;
    box-shadow: inset 0 0 0 0.1875em #d43f3a;
}